<fieldset>
    
    <form id="createGameTable">
        <h2>新しいゲーム卓を開催する</h2>
        <section class="box1">
        <div>開催者 : <%= you.name %></div> 
        <div>
            <a>ゲームタイプ :</a>
            <select name="gameType" id="gameType_cng">
                <% for (type of gameType){ %>
                    <option value="<%= type.name %>"><%= type.name %></option>
                <% } %>
            </select>
        </div>
        <div>
            <a>招待客 :</a>
            <select name="invitation" id="invitation_cng">
                <option value="any_one">any_one</option>
                <% for (user of loginUsers){ %>
                    <% if ( user.name != you ) { %>
                        <option class="user_id_<%= user._id %>" value="<%= user.name %>"><%= user.name %></option>
                    <% } %>
                <% } %>
            </select>
        </div>

        <input id="createGameTableButton" class="btn btn-primary btn-sm" type="button" value="開催する">
        </section>
    </form>
</fieldset>