<% include ./templates/header.ejs %>
<%
//indent x2>> 
%>
    <div class="container">
        <h1>this is HOME</h1>
        <p>Welcome <%= you %>! Have a nice Gaming!!</p>
        <p>
            <a id="logout" class="btn btn-primary">LOG OUT</a>
        </p>
        
        <div id="loginUsers">
            <h3>LOGIN USERS</h3>
            <ul id="loginUsersList"></ul>
        </div>
        
        <div id="createGameTable">
        </div>
        
        <div id="gameTables">
            <h3>GAME TABLES</h3>
            <ul id="gameTablesList"></ul>
        </div>
        
        <script>
            $(function(){
                var hostname = window.location.hostname ;
                var socket = io.connect('https://'+hostname+'/home');
                
                socket.emit('loadHome',"<%= you %>");
                socket.on('reloadHome',function(){
                    socket.emit('loadHome');
                })
                
                socket.on('loadHome' ,function(data){
                    $("#loginUsersList").append(data.loginusersList);
                    $("#createGameTable").append(data.createGameTable);
                    $("#gameTablesList").append(data.gameTableList);
                });
                socket.on('removeLoginUser',function(data){
                    $(".user_id_"+ data.user[0]._id ).remove();
                });

                $("#logout").on("click",function(){
                    socket.emit("logout","<%= you %>");
                    location.href='/login';
                });
                socket.on("addGameTable",function(data){
                    $("#gameTablesList").append(data.gameTableList);
                });
                $("#createGameTable").on("click","#createGameTableButton",function(){
                    var query ={
                        "owner"       : "<%= you %>",
                        "gametype"    : $("#gameType_cng").val(),
                        "status"      : "scheduled",
                        "participants": $("#invitation_cng").val(),
                        "seatStatus"  : "not_yet"
                    }
                    socket.emit("createGameTable",query); 
                });
                $("#gameTablesList").on("click",".removeGameTable",function(){
                    var gameTable_id = $(this).attr("id");
                    socket.emit("removeGameTable",gameTable_id);
                    $(this).parent().remove();
                });
                socket.on('removeGameTable',function(data){
                    $(".gameTable_id_"+ data._id ).remove();
                });
                $("#gameTablesList").on("click",".seating",function(){
                    var query = {
                        user         : "<%= you %>", 
                        gameTable_id : $(this).parent().attr("id"),
                    }
                    socket.emit("seating",query);
                });
                socket.on("goGameRoom",function(data){
                    location.href='/'+data.gametype+'/'+data._id;
                    console.log('/'+data.gametype+'/'+data._id);
                });
                socket.on('addLoginUser',function(data){
                    $(".user_id_"+data.newLoginID ).remove();
                    $("#loginUsersList").append(data.newLoginList);
                    $("#invitation_cng").append(data.newCngOpt);
                })
            });
        </script>               
        
    </div>
<% include ./templates/footer.ejs %>